{% extends "index.html.twig" %}

{#
{% block head %}
<meta charset="UTF-8">
<title>Home page</title>
{% endblock %}
#}

{% block title %}Home page{% endblock %}

{% block content %}
<h1>Home page</h1>

{% if content is defined %}
    {% apply raw %}
        {{ content }}
    {% endapply %}
{% else %}
    <p>No content</p>
{% endif %}

{% for key, user in users %}
    <p>
        {{ key }} : {{ user.name }} - {{ user.email }}
        {% if loop.last %}End of list{% endif %}
    </p>
{% else %}
    <p>No users</p>
{% endfor %}

{% endblock %}
